.btn {
  border-radius: 5px;
  padding: 8px 4px;
  text-decoration: none;
  color: $brand-primary-color;
  border: 1px solid #000;

  &--default {
    background: $background-primary;
    border-color: $brand-primary-color;
  }

  &--primary {
    background: $brand-primary-color;
    color: $background-primary;
  }

  &--secondary {
    background: $brand-secondary-color;
    color: $background-primary;
  }
}